
<div *ngIf="archiveJob">
    <h2><span jhiTranslate="lmsApp.archiveJob.detail.title">Archive Job</span> {{archiveJob.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="lmsApp.archiveJob.startTime">Start Time</span></dt>
        <dd>
            <span>{{archiveJob.startTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="lmsApp.archiveJob.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'lmsApp.ArchiveJobStatus.' + archiveJob.status}}">{{archiveJob.status}}</span>
        </dd>
        <dt><span jhiTranslate="lmsApp.archiveJob.endTime">End Time</span></dt>
        <dd>
            <span>{{archiveJob.endTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="lmsApp.archiveJob.dummy">Dummy</span></dt>
        <dd>
            <span>{{archiveJob.dummy}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'archive-job/'+ archiveJob.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
