<div>
    <h2>
        <span jhiTranslate="lmsApp.localFile.home.title">Local Files</span>
        <button class="btn btn-primary float-right create-local-file" [routerLink]="['/', { outlets: { popup: ['local-file-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="lmsApp.localFile.home.createLabel">
            Create new Local File
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="localFiles">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="localPath"><span jhiTranslate="lmsApp.localFile.localPath">Local Path</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span jhiTranslate="lmsApp.localFile.type">Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="size"><span jhiTranslate="lmsApp.localFile.size">Size</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dateAdded"><span jhiTranslate="lmsApp.localFile.dateAdded">Date Added</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rejected"><span jhiTranslate="lmsApp.localFile.rejected">Rejected</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="uploaded"><span jhiTranslate="lmsApp.localFile.uploaded">Uploaded</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="duplicate"><span jhiTranslate="lmsApp.localFile.duplicate">Duplicate</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="hash"><span jhiTranslate="lmsApp.localFile.hash">Hash</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="resourceUrl"><span jhiTranslate="lmsApp.localFile.resourceUrl">Resource Url</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let localFile of localFiles ;trackBy: trackId">
                <td><a [routerLink]="['../local-file', localFile.id ]">{{localFile.id}}</a></td>
                <td>{{localFile.localPath}}</td>
                <td jhiTranslate="{{'lmsApp.FileType.' + localFile.type}}">{{localFile.type}}</td>
                <td>{{localFile.size}}</td>
                <td>{{localFile.dateAdded | date:'mediumDate'}}</td>
                <td>{{localFile.rejected}}</td>
                <td>{{localFile.uploaded}}</td>
                <td>{{localFile.duplicate}}</td>
                <td>{{localFile.hash}}</td>
                <td>{{localFile.resourceUrl}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../local-file', localFile.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'local-file/'+ localFile.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'local-file/'+ localFile.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
