<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLocalFileLabel" jhiTranslate="lmsApp.localFile.home.createOrEditLabel">Create or edit a Local File</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!localFile.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="localFile.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lmsApp.localFile.localPath" for="field_localPath">Local Path</label>
            <input type="text" class="form-control" name="localPath" id="field_localPath"
                [(ngModel)]="localFile.localPath"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lmsApp.localFile.type" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="localFile.type" id="field_type" >
                <option value="jpg" jhiTranslate="lmsApp.FileType.jpg">jpg</option>
                <option value="java" jhiTranslate="lmsApp.FileType.java">java</option>
                <option value="unknown" jhiTranslate="lmsApp.FileType.unknown">unknown</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lmsApp.localFile.size" for="field_size">Size</label>
            <input type="number" class="form-control" name="size" id="field_size"
                [(ngModel)]="localFile.size"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lmsApp.localFile.dateAdded" for="field_dateAdded">Date Added</label>
            <div class="input-group">
                <input id="field_dateAdded" type="text" class="form-control" name="dateAdded" ngbDatepicker  #dateAddedDp="ngbDatepicker" [(ngModel)]="localFile.dateAdded"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="dateAddedDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lmsApp.localFile.rejected" for="field_rejected">Rejected</label>
            <input type="checkbox" class="form-control" name="rejected" id="field_rejected"
                [(ngModel)]="localFile.rejected"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lmsApp.localFile.uploaded" for="field_uploaded">Uploaded</label>
            <input type="checkbox" class="form-control" name="uploaded" id="field_uploaded"
                [(ngModel)]="localFile.uploaded"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lmsApp.localFile.duplicate" for="field_duplicate">Duplicate</label>
            <input type="checkbox" class="form-control" name="duplicate" id="field_duplicate"
                [(ngModel)]="localFile.duplicate"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lmsApp.localFile.hash" for="field_hash">Hash</label>
            <input type="text" class="form-control" name="hash" id="field_hash"
                [(ngModel)]="localFile.hash"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="lmsApp.localFile.resourceUrl" for="field_resourceUrl">Resource Url</label>
            <input type="text" class="form-control" name="resourceUrl" id="field_resourceUrl"
                [(ngModel)]="localFile.resourceUrl"
             />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
