
<div *ngIf="localFile">
    <h2><span jhiTranslate="lmsApp.localFile.detail.title">Local File</span> {{localFile.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="lmsApp.localFile.localPath">Local Path</span></dt>
        <dd>
            <span>{{localFile.localPath}}</span>
        </dd>
        <dt><span jhiTranslate="lmsApp.localFile.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'lmsApp.FileType.' + localFile.type}}">{{localFile.type}}</span>
        </dd>
        <dt><span jhiTranslate="lmsApp.localFile.size">Size</span></dt>
        <dd>
            <span>{{localFile.size}}</span>
        </dd>
        <dt><span jhiTranslate="lmsApp.localFile.dateAdded">Date Added</span></dt>
        <dd>
            <span>{{localFile.dateAdded | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="lmsApp.localFile.rejected">Rejected</span></dt>
        <dd>
            <span>{{localFile.rejected}}</span>
        </dd>
        <dt><span jhiTranslate="lmsApp.localFile.uploaded">Uploaded</span></dt>
        <dd>
            <span>{{localFile.uploaded}}</span>
        </dd>
        <dt><span jhiTranslate="lmsApp.localFile.duplicate">Duplicate</span></dt>
        <dd>
            <span>{{localFile.duplicate}}</span>
        </dd>
        <dt><span jhiTranslate="lmsApp.localFile.hash">Hash</span></dt>
        <dd>
            <span>{{localFile.hash}}</span>
        </dd>
        <dt><span jhiTranslate="lmsApp.localFile.resourceUrl">Resource Url</span></dt>
        <dd>
            <span>{{localFile.resourceUrl}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'local-file/'+ localFile.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
